<!DOCTYPE html>

<html>
<link rel="stylesheet" href="../stylesheets/game.css" />
<link rel="stylesheet" href="../stylesheets/canvas.css" />
<link rel="stylesheet" href="../stylesheets/chat.css" />
<link rel="stylesheet" href="../stylesheets/player.css" />
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />

<% const roomname1 = (room) %>

<body>

    <div id="game">
        <div id="canvasgroup">
            <input type="hidden" name="hiddenTemp1" id="hiddenTemp1" value="<%=roomname1%>">
            <script> const roomname = document.getElementById("hiddenTemp1").value</script>

        <canvas id="canvas" width='1200' height='600' ></canvas>
        <div id="settings">

            <button id="clear">Clear</button>
            <button id="undo">Undo</button>
            <div id="color-buttons">
                <button id="color1" ></button>
                <button id="color2" ></button>
                <button id="color3" ></button>
                <button id="color4" ></button>
            </div>

            <div id="tool-buttons">
                <button id="tool-crayon">Crayon</button>
                <button id="tool-pen">Pen</button>
                <button id="tool-eraser">Eraser</button>
            </div>

            <div id = "slide-bar-group">
                <input id="slide-bar" type="range" min="3" max="24" value="3" step="3" onchange="showValue(this.value)" />
                <span id="range">3</span>
                <script type="text/javascript">
                    function showValue(newValue){
                        document.getElementById("range").innerHTML=newValue;
                    }
                </script>
            </div>
        </div>
    </div>
    <div id="table">
        <div id="players"></div>
        <div id = 'game-chat'></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="../Scripts/Chat.js"></script>
<script src="../Scripts/Player.js"></script>
<script src="../Scripts/Table.js"></script>
<script src="../Scripts/Game.js"></script>
<script src="../Scripts/Canvas-class.js"></script>
<script src="../Scripts/canvas.js"></script>
</body>
</html>