<!DOCTYPE html>

<html>
<link rel="stylesheet" href="../stylesheets/canvas.css" />
<link rel="stylesheet" href="../stylesheets/player.css" />
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
<body>

<div id="game">
    <div id="canvasgroup">
        <canvas id="canvas"></canvas>
        <div>
            <button id="button">Clear</button>
        </div>
    </div>

    <div id="table">
        <div id="players">
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="../Scripts/Chat.js"></script>
<script src="../Scripts/Player.js"></script>
<script src="../Scripts/Table.js"></script>
<script src="../Scripts/Game.js"></script>
<script src="../Scripts/canvas.js"></script>
</body>
</html>