<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bar.css' />
  </head>
  <body>
  <div class="topnav" id="myTopnav">
      <%if (loggedIn) { %>
    <a href="/logout">Log Out</a>

      <% }else{ %>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>

      <% } %>
  </div>
  <div id = "lobby"> 
   <p>Canvas</p>
    <div id = "container">
      <div id= "window"  href="/canvas"><span> Room 1</span></div>
      <div id= "window"  href="/canvas"><span> Room 2</span></div>
      <div id= "window"  href="/canvas"><span> Room 3</span></div> 
      <div id= "window"  href="/canvas"><span> Room 4</span></div>
      <div id= "window"  href="/canvas"><span> Room 5</span></div>
      <div id= "window"  href="/canvas"><span> Room 6</span></div>
    </div>
  </div>
  </body>
</html>
