<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bar.css' />
  </head>
  <body>
  <div class="topnav" id="myTopnav">
      <%if (loggedIn) { %>
    <a href="/logout">Log Out</a>

      <% }else{ %>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>

      <% } %>
  </div>

  <%if (loggedIn) { %>
    <div id = "lobby"> 
     <p>Canvas</p>
      <div id = "container">
      <a href="/canvas">
        <div id= "window"><span> Room 1</span></div>
      </a>
      <a href="/canvas2">
        <div id= "window"><span> Room 2</span></div>
      </a>
      <a href="/canvas3">
        <div id= "window"><span> Room 3</span></div>
      </a>
      <a href="/canvas4">
        <div id= "window"><span> Room 4</span></div>
      </a>
      <a href="/canvas5">
        <div id= "window"><span> Room 5</span></div>
      </a>
      <a href="/canvas6">
        <div id= "window"><span> Room 6</span></div>
      </a>
    </div>

  <% } else { %>
        <div id = "lobby">
            <p id = "canvas_text"> Canvas </p></div>
        <% } %>
  </div>
  </body>
</html>
