<!doctype html>
<html>
<head>
    <title>Regsitration</title>
    <link rel="stylesheet" href="/stylesheets/form.css">

</head>
<body>
<br>
<div>
    <form action="" method="post" class="register-form">
        <!--<div>-->
            <!--<div>-->
                <!--<label for="firstName">FIRST NAME</label>-->
            <!--</div>-->
            <!--<input name="firstName" class="form-control" type="text">-->
        <!--</div>-->
        <!--<div>-->
            <!--<div>-->
                <!--<label for="lastName">LAST NAME</label>-->
            <!--</div>-->
            <!--<input name="lastName" class="form-control" type="text">-->
        <!--</div>-->
        <!--<div >-->
            <!--<div>-->
                <!--<label for="userName">USER NAME</label>-->
             <!--</div>    -->
            <!--<input name="userName" class="form-control" type="text">-->
        <!--</div>-->
        <div>
            <div >
                <label for="email">EMAIL</label>
            </div>    
            <input name="email" class="form-control" type="email">
        </div>
        <div>
            <div >
                <label for="password">PASSWORD</label>
            </div>    
            <input name="password" class="form-control" type="password">
        </div>
        <hr>
        <div>
            <div>
                <button type=submit class="regbutton">Register</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>