/* Add a black background color to the top navigation */
body {
    background-color: #FFCC80;
}


.topnav {
    background-color: #FF9800;
    overflow: hidden;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #FFCC80;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}