#canvas {
    border:2px solid #000000;
    background-color: #ffffff;
    display: block;
    margin-top: 2%;
    width: 100%;
    height: 85%;
}


#settings{
    display: inline-block;
    width: 100%;
    height: 15%;
}


#clear {
    float: right;
    background-color: #ff3399;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid #000000;
    margin: auto;
    margin-top: 3%;
    display: block;
}

#slide-bar-group {
    width:30%;
    height: 15%;
    display: inline-block;
}

#slide-bar {
    width: 70%;
    float: left;
    border: none;
    margin: auto;
    margin-top: 3%;
    display: inline-block;
}

#range {
    float: left;
    padding: 8px 18px;
    background-color: antiquewhite;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border:2px solid darkslategrey;
    margin: auto;
    margin-top: 3%;
    display: inline-block;
}


button:focus {outline:0;}


@media screen and (max-width: 835px) {
    #clear {
        padding: 7px 15px;
    }
}


/*@media screen and (max-height: 500px) {
   body {
    overflow-y: auto;
   }
}*/
#undo {
    float: right;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border:2px solid #000000;
    margin: auto;
    margin-top: 3%;
    display: inline-block;
}

@media screen and (max-width: 835px) {
    #undo {
        padding: 7px 15px;
    }
}

@media screen and (max-width: 382px) {
    #undo {
        padding: 1px 2px;
    }
}

@media screen and (max-width: 382px) {
    #clear {
        padding: 1px 2px;
    }
}


@media screen and (max-width: 835px) {
    #slide-bar-group {
        width: 200px;
    }
}

@media screen and (max-width: 835px) {
    #range {
        padding: 5px 11px;
        font-size: 12px;
    }
}


#color-buttons {
    display: inline-block;
    width: 25%;
    height: 47%;
    margin-top: 2%;
}

#tool-buttons {
    display: inline-block;
    width: 30%;
    height: 35%;
}

button[id^="color"] {
    float: left;
    width: 20%;
    height: 100%;
    border: none;
    margin: 2px;
    box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.2), 2px 8px 23px 2px rgba(0, 0, 0, 0.19);    
    background-repeat: no-repeat;
    background-position: center; 
    font-size: 16px;
}

button[id^="tool"] {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: #b1d0ff;
}

#color1 {
    background-color: #AB47BC;
    /*background-image: url("../images/checker.png");*/
}

#color2 {
    background-color: #659b41;
}

#color3 {
    background-color: #FFC107;
}

#color4 {
    background-color: #5D4037;
}

@media screen and (max-width: 382px) {
    #color-buttons {
        width: 30px;
    }
}

@media screen and (max-width: 382px) {
    #tool-buttons {
        width: 30px;
        margin-left: 10%;
    }
}