body, html{
    background-color:#FFB74D;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    /*text-color: #E65100;*/
    margin: 0px;

}

.register-form{
    font-size: 16px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton{
    height: 50px;
    width: 100%;
    background-color:#EF6C00;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin: 0 auto;
    /*margin-bottom: 5px;*/
}
.regbutton:hover{
    color: white;
    background-color:#F57C00;
}
.regbutton:active{
    color: white;
    background-color:#F57C00;
}
.logbutton{
    height: 50px;
    width: 200px;
    background-color:#EF6C00;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none !important;
    margin-bottom: 5px;
}
.logbutton:hover{
    color: white;
    background-color:#F57C00;
}
.logbutton:active{
    color: white;
    background-color:#F57C00;
}

.register-form label{
    color: white;

}
.register-form input{
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0px;
    font-size: 20px;
}
